<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

    <div id="sidebar">
        <ul class="nav">
        @if (User.Identity.IsAuthenticated)
        {
            <li><a>Hello, @User.Identity.Name</a></li>
        }
            <li class="active"><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> home</a></li>
            <li><a asp-controller="Home" asp-action="About"><i class="fa fa-question-circle-o"></i> about us</a></li>
            <li><a asp-controller="Home" asp-action="Contact"><i class="fa fa-pencil-square-o"></i>  contact us</a></li>
            <li>@await Html.PartialAsync("_LoginPartial")</li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="Family" asp-action="Index">My Family</a></li>
            }
        </ul>
    </div>

    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">    
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="sidebarToggle" class="btn btn-primary">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-center">
                    <li class="header-text">Welcome</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="btn btn-sm btn-primary">
                            <i class="fa fa-save"></i> Save
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-sm btn-primary">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="main" class="container-fluid">
            <div>
                @RenderBody()
            </div>

        </div>
        <div id="footer" class="container-fluid">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info">&copy; 2016 Family Relationship Manager Ltd.</h4>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
